table {
  margin: auto;

  padding: 5px;
}

.cell {
  height: 50px;
  width: 50px;
}

h1 {
  text-align: center;
}

.hidden {
  background: rgb(107, 107, 107);
  border-width: 2px;
  border-style: outset;
  text-align: center;
}

.msg {
  font-size: 25px;
  text-align: center;
}

.shown {
  background: white;
}

.btn {
  border: none;
  padding: 10px;
  cursor: pointer;
  height: 50px;
  width: 90px;
  cursor: pointer;
  background: none;
}

.buttons {
  cursor: pointer;
  padding: 5px;
  display: inline-block;
  margin-left: 42%;
}

.mined {
  background-color: red;
}

.btn:hover {
  background-color: #626262;
  color: white;
  border-radius: 30%;
}

.btn:active {
  transform: translateY(2px);
}

.footer {
  margin-top: 4%;
  text-align: center;
}

h2 {
  text-align: center;
}

.modal {
  display: none;
  border-radius: 20%;
  background: transparent;
  font-size: 50px;
  text-align: center;
  position: absolute;
  width: 20%;
  height: 30%;
  float: left;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

img {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(216, 148, 148, 0)
  );
  z-index: -1;
}

.restart {
  margin-top: 2%;
  margin-left: 49%;
  border: none;
  background-color: white;
  font-size: 30px;
  cursor: pointer;
}
